<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24426510156-beprhlr76d8lgo6100mumm23egu6rleq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24426510156-beprhlr76d8lgo6100mumm23egu6rleq</string>
	<key>API_KEY</key>
	<string>AIzaSyD_FLql2jbaHUKaLiYWyFElzYVEJDqz1rM</string>
	<key>GCM_SENDER_ID</key>
	<string>24426510156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>viettiennguyen.Email-Login-Page</string>
	<key>PROJECT_ID</key>
	<string>login-page-with-email</string>
	<key>STORAGE_BUCKET</key>
	<string>login-page-with-email.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24426510156:ios:bffbe0787120ba80fa01e9</string>
	<key>DATABASE_URL</key>
	<string>https://login-page-with-email.firebaseio.com</string>
</dict>
</plist>